mat-card {
  padding: 20px;
  background: #EFE1BA;
}

mat-card-title {
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-weight: bold;
}

mat-card-title hr{
  border-color: black;
}

mat-card-content {
  padding: 10px 20px 20px 20px;
  text-align: center;
}

button {
  margin-left: 10px;
  padding: 5px 40px 5px 40px !important;
  background: #FEC946 !important;
  font-weight: bold;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}
