<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks">

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>AVAILABLE VEHICLES</h3>
          <h1>{{ vCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>local_shipping</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="vehicle">Assign Vehicle</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL SUPPLIERS</h3>
          <h1>{{ supCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>storefront</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="supplier">View Suppliers</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL EMPLOYEES</h3>
          <h1>{{ empCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>work</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="employeeS">View Employees</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL CUSTOMERS</h3>
          <h1>{{ cusCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>person_add</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="customer">Add Customer</a>
      </mat-card-footer>
    </mat-card>


  </mat-grid-tile>


  <mat-grid-tile [colspan]="4" [rowspan]="8"  id="detail-cart">
      <mat-card>
        <mat-card-title>Contact Details</mat-card-title>
        <mat-card-content >
          <mat-list>
            <mat-list-item *ngFor="let message of generalmessages">
              <mat-icon matListItemIcon>{{message.icon}}</mat-icon>
              <div matListItemTitle ><b>{{message.name}}</b></div>
              <div matListItemTitle >{{message.to}}</div>
              <div matListItemTitle >{{message.for}}</div>
              <div matListItemTitle >{{message.tel}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>


</mat-grid-list>
