<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks">

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>AVAILABLE VEHICLES</h3>
          <h1>{{ vCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>local_shipping</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="vehicle">See More Details</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL SHOPS</h3>
          <h1>{{ shopCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>storefront</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="shop">See More Details</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL EMPLOYEES</h3>
          <h1>{{ empCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>work</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="employee">See More Details</a>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content class="card-content">
        <div class="content-left">
          <h3>TOTAL CUSTOMERS</h3>
          <h1>{{ cusCount }}</h1>
        </div>
        <div class="icon-right">
          <mat-icon>person_add</mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <a routerLink="customer">See More Details</a>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="8"  id="detail-cart">
      <mat-card>
        <mat-card-title>Contact Details</mat-card-title>
        <mat-card-content >
          <mat-list>
            <mat-list-item *ngFor="let message of generalmessages">
              <mat-icon matListItemIcon id="icon">{{message.icon}}</mat-icon>
              <div matLine ><b>{{message.name}}</b></div>
              <div matLine >{{message.to}}</div>
              <div matLine >{{message.for}}</div>
              <div matLine >{{message.tel}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="8" id="chart">
    <mat-card>
      <mat-card-header><mat-card-title style="text-align: center; color: #515154;">Percentage of Items Below and Above Reorder Point (ROP)</mat-card-title></mat-card-header>
      <mat-card-content><div #piechart class="pie-chart"></div></mat-card-content>
      <mat-card-footer class="card-footer" id="gap">
        <a routerLink="item">See Items Details</a>
        <a routerLink="supplier">Contact Suppliers </a>
        <a routerLink="purorder">Add Purchase Order</a>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>
