.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.content-left {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.icon-right {
  padding-bottom: 20px;
}

.icon-right mat-icon{
  font-size: 30px;
  width: auto;
  height: auto;
  background-color: #005710;
  color: white;
  padding: 10px;
  border-radius: 50px;
}

.content-left h3{
  margin: 0;
  padding: 0;
  color: #515154;
}

.content-left h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

mat-card{
  border-radius: 20px;
}

.card-footer{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.card-footer a{
  text-decoration: none;
  font-size: 14px;
  background: #005710;
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  transition: background-color 200ms;
}

.card-footer a:hover {
  background: rgba(0, 87, 16, 0.86);
}

#quicklinks{
  margin-top: -65px;
}

#quicklinks mat-card {
  margin: 0 7px;
  box-shadow: rgba(103, 116, 142, 0.075) 0rem 0rem 1rem 0rem;
  background: radial-gradient(circle 60px at calc(100% - 40px) 45px, gold, rgb(252, 255, 252));
}

#quicklinks mat-card:first-child {
  margin-left: 0;
}

#quicklinks mat-card:last-child {
  margin-right: 0;
}

#detail-cart{
  margin-top: -123px;
  margin-left: -265px;
  border-radius:20px;
}

#detail-cart mat-card-title{
  padding: 10px;
  margin-left: 20px;
  color: #515154;
}
#icon{
  margin-top: -40px;
  padding: 0;
}

#detail-cart mat-list-item{
  padding-bottom: 6px;
  height: 90px;
}

#detail-cart mat-list-item:last-child{
  padding-bottom: 5px;
}

#detail-cart mat-icon,#detail-cart b{
  color: rgba(0, 87, 16, 0.86);
}

#chart{
  margin-top: -695px;
  margin-left: 630px;
}

#chat .mat-mdc-card {
  background-color: red;
}

#chart mat-card{
  display: flex;
  flex-direction: column;
  height: 94%;
  width: 85%;
}

#chart mat-card-content {
  flex: 1;
}

#piechart {
  width: 100%;
  height: 100%; /* Ensure it takes the full height of the parent */
  position: relative;
}

#gap{
  justify-content: space-between;
  align-items: center;
}


