<mat-toolbar xmlns="http://www.w3.org/1999/html">
  <mat-toolbar-row [ngClass]="{ 'enlarged-width-header mat-toolbar-multiple-rows ': !showNames }">

    <span class="toolbar">
      <div class="left-container">
        <p><mat-icon routerLink="/main/dashboard">home</mat-icon> / {{ currentRoute }}</p>
        <h1>{{ currentRoute }}</h1>
      </div>

      <button style="padding-left: 50px" (click)="toggleMenu()" ><mat-icon>{{ showNames ? 'menu' : 'menu_open' }}</mat-icon></button>

      <div class="weather">
        <h2>{{ weatherConditions }}<mat-icon>{{ weatherIcon }}</mat-icon>{{ currentTime | date: 'HH:mm:ss' }}</h2>
      </div>

      <!--Notification icon -->
      <button [matMenuTriggerFor]="notification"><mat-icon>notifications</mat-icon></button>
      <mat-menu #notification="matMenu" class="menu-container">
        <div class="menu-content">
          <p><b>Notification</b></p>
          <hr>
        </div>
      </mat-menu>

      <!-- User icon -->
      <div></div>
      <button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #userMenu="matMenu" class="menu-container">
        <div class="menu-content">
          <img src="assets/user.png" class="img-user" alt="user" />
          <p>{{ greetingMessage }}&nbsp;<br /><b>{{ authService.getUsername().toUpperCase() }}</b></p>
          <hr>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
              Logout
          </button>
        </div>
      </mat-menu>

      <!-- Settings icon -->
      <button [matMenuTriggerFor]="Setting"><mat-icon>settings</mat-icon></button>
      <mat-menu #Setting="matMenu" class="menu-container">
        <div class="menu-content">
          <button mat-menu-item (click)="darkModeService.toggleMode()">
            <mat-icon>dark_mode</mat-icon>
              Dark Mode
          </button>
        </div>
      </mat-menu>

    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{ 'enlarged-height-content': !showNames }" >

  <mat-sidenav [(opened)]="opened" [ngClass]="{ 'small-width': !showNames }"  mode="side" (mouseenter)="toggleShowNav(false)" (mouseleave)="toggleShowNav(false)" >

    <mat-nav-list >

      <img ngSrc="assets/co_op.png" alt="Co-operative logo" height="50" width="50">
      <p>{{ showNames ? 'Purchase, Sale, Distribution and Inventory Management System' : '' }}</p>

      <mat-list-item #dashboard [class.custom-list-item]="itemClickedState.dashboard"  (click)="logItemId('dashboard')">
        <a routerLink="dashboard"><mat-icon>desktop_mac</mat-icon>{{ showNames ? 'Dashboard' : '' }}</a>
      </mat-list-item>

      <mat-expansion-panel #admin [class.custom-list-item]="itemClickedState.admin" (mouseenter)="admin.open()" (mouseleave)="admin.close()" *ngIf="isMenuVisible('Admin')" [ngClass]="{ 'active-panel': admin.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a><mat-icon>person</mat-icon>{{ showNames ? 'Admin' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of admMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('admin')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #purchase [class.custom-list-item]="itemClickedState.purchase" (mouseenter)="purchase.open()" (mouseleave)="purchase.close()" *ngIf="isMenuVisible('Purchase')" [ngClass]="{ 'active-panel': purchase.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>monetization_on</mat-icon>{{ showNames ? 'Purchase' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of purMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('purchase')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #sale [class.custom-list-item]="itemClickedState.sale" (mouseenter)="sale.open()" (mouseleave)="sale.close()" *ngIf="isMenuVisible('Sale')" [ngClass]="{ 'active-panel': sale.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>percent</mat-icon>{{ showNames ? 'Sale' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of saleMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('sale')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #distribution [class.custom-list-item]="itemClickedState.distribution" (mouseenter)="distribution.open()" (mouseleave)="distribution.close()" *ngIf="isMenuVisible('Distribution')" [ngClass]="{ 'active-panel': distribution.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>commute</mat-icon>{{ showNames ? 'Distribution' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of disMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('distribution')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #inventory [class.custom-list-item]="itemClickedState.inventory" (mouseenter)="inventory.open()" (mouseleave)="inventory.close()" *ngIf="isMenuVisible('Inventory')" [ngClass]="{ 'active-panel': inventory.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>assignment</mat-icon>{{ showNames ? 'Inventory' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of invMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('inventory')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel #reports [class.custom-list-item]="itemClickedState.reports" (mouseenter)="reports.open()" (mouseleave)="reports.close()" *ngIf="isMenuVisible('Reports')" [ngClass]="{ 'active-panel': reports.expanded }" [hideToggle]="true" >
      <mat-expansion-panel-header>
        <mat-list-item><a>
          <mat-icon>assessment</mat-icon>{{ showNames ? 'Reports' : '' }}</a></mat-list-item>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let menuItem of reportMenuItems">
        <mat-list-item *ngIf="menuItem.accessFlag">
          <mat-list-item class="item" (click)="logItemId('reports')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
        </mat-list-item>
      </ng-container>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{ 'enlarged-width-content': !showNames }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
