<mat-toolbar xmlns="http://www.w3.org/1999/html">
  <mat-toolbar-row [ngClass]="{ 'enlarged-width-header mat-toolbar-multiple-rows ': !showNames }">

    <span class="toolbar">
      <div class="left-container">
        <p><mat-icon>home</mat-icon> / {{ currentRoute }}</p>
        <h1>{{ currentRoute }}</h1>
      </div>

      <button style="padding-left: 50px" (click)="toggleMenu()" ><mat-icon>{{ showNames ? 'menu' : 'menu_open' }}</mat-icon></button>

      <div class="weather">
        <h2>{{ weatherConditions }}<mat-icon>{{ weatherIcon }}</mat-icon>{{ currentTime | date: 'HH:mm:ss' }}</h2>
      </div>

      <!--Notification icon -->
      <button [matMenuTriggerFor]="notification"><mat-icon>notifications</mat-icon></button>
      <mat-menu #notification="matMenu" class="menu-container">
        <div class="menu-content">
          <p><b>Notification</b></p>
          <hr>
        </div>
      </mat-menu>

      <!-- User icon -->
      <div></div>
      <button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #userMenu="matMenu" class="menu-container">
        <div class="menu-content">
          <img src="assets/user.png" class="img-user" alt="user" />
          <p>{{ greetingMessage }}&nbsp;<br /><b>{{ authService.getUsername().toUpperCase() }}</b></p>
          <hr>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
              Logout
          </button>
        </div>
      </mat-menu>

      <!-- Settings icon -->
      <button [matMenuTriggerFor]="Setting"><mat-icon>settings</mat-icon></button>
      <mat-menu #Setting="matMenu" class="menu-container">
        <div class="menu-content">
          <button mat-menu-item >
            <mat-icon>dark_mode</mat-icon>
              Dark Mode
          </button>
        </div>
      </mat-menu>

    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{ 'enlarged-height-content': !showNames }" >

  <mat-sidenav [(opened)]="opened" [ngClass]="{ 'small-width': !showNames }"  mode="side" (mouseenter)="toggleShowNav(false)" (mouseleave)="toggleShowNav(false)" >

    <mat-nav-list >

      <img ngSrc="assets/co_op.png" alt="Co-operative logo" height="50" width="50">
      <p>{{ showNames ? 'Purchase, Sale, Distribution and Inventory Management System' : '' }}</p>

      <mat-list-item #dashboard [class.custom-list-item]="itemClickedState.dashboard"  (click)="logItemId('dashboard')">
        <a routerLink="dashboard"><mat-icon>desktop_mac</mat-icon>{{ showNames ? 'Dashboard' : '' }}</a>
      </mat-list-item>

      <mat-expansion-panel #admin [class.custom-list-item]="itemClickedState.admin" (mouseenter)="admin.open()" (mouseleave)="admin.close()" *ngIf="isMenuVisible('Admin')" [ngClass]="{ 'active-panel': admin.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a><mat-icon>person</mat-icon>{{ showNames ? 'Admin' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of admMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('admin')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #academic [class.custom-list-item]="itemClickedState.academic" (mouseenter)="academic.open()" (mouseleave)="academic.close()" *ngIf="isMenuVisible('Academic')" [ngClass]="{ 'active-panel': academic.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>event_note</mat-icon>{{ showNames ? 'Academic' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of acdMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('academic')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #registration [class.custom-list-item]="itemClickedState.registration" (mouseenter)="registration.open()" (mouseleave)="registration.close()" *ngIf="isMenuVisible('Registration')" [ngClass]="{ 'active-panel': registration.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>person_add</mat-icon>{{ showNames ? 'Registration' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of regMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('registration')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #classes [class.custom-list-item]="itemClickedState.classes" (mouseenter)="classes.open()" (mouseleave)="classes.close()" *ngIf="isMenuVisible('Class')" [ngClass]="{ 'active-panel': classes.expanded }" [hideToggle]="true" >
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>class</mat-icon>{{ showNames ? 'Class' : '' }}</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of clsMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" (click)="logItemId('classes')" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-list-item #report [class.custom-list-item]="itemClickedState.report" (click)="logItemId('report')">
        <a routerLink="reports"><mat-icon>poll</mat-icon>{{ showNames ? 'Report' : '' }}</a>
      </mat-list-item>

      <mat-list-item #vehicle [class.custom-list-item]="itemClickedState.vehicle" (click)="logItemId('vehicle')">
        <a routerLink="vehicles"><mat-icon>commute</mat-icon>{{ showNames ? 'Vehicle' : '' }}</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{ 'enlarged-width-content': !showNames }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
