mat-toolbar{
  background-color: #FEC946;
}

mat-sidenav-container{
  background: rgb(254,201,70);
  background: linear-gradient(180deg, rgba(254,201,70,1) 0%, rgba(254,201,70,1) 26%, rgb(227, 227, 227) 26%);
  width: 100%;
}

.enlarged-width-header{
  margin-top: 18px;
  position: fixed;
  display: inline;
  bottom: inherit;
  left: -100px;
  right: 0;
  transition: left 2s ease;
}

.enlarged-width-header h2 {
  margin: 0 50px 0 50px !important;
}

.mat-toolbar-multiple-rows{
  height: 100px;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

mat-toolbar-row label{
  display: flex;
  color: black;
  font-size: 15px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  text-align: center;
}

.toolbar {
  padding-left: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toolbar button{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

mat-toolbar-row mat-icon{
  width: 100%;
  height: 100%;
  color: #000000;
}

.weather h2 {
  padding: 0 300px 0 250px;
  display: inline;
  margin: 0;
  color: #000000;
}

.weather mat-icon {
  display: inline;
}

.left-container{
  display: inline;
  margin: 0;
  color: #000000;
  font-size: 15px
}

.left-container mat-icon {
  display: inline;
  font-size: 15px
}

.left-container p, .left-container h1 {
  margin: 0;
}

.img-logo {
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.lbl-user {
  font-size: 14px;
  color: white;
  margin: 0 5px 0 0;
}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0;
  margin: 0 0 0 -5px;
}


/* Side Navigation */
.small-width {
  width: 8%;
  position: fixed;
  margin: 10px -10px 5px 5px;
  border-radius: 25px;
  border: #000000 5px !important;
  transition: width 0.5s ease;
}

.small-width img {
  padding: 10px 0 0 30px;
  display: flex;
}

.small-width mat-icon {
  font-size: 25px;
  margin: 0 0 -10px 30px;
}

.enlarged-width-content{
  position: absolute;
  margin: 0 20px 5px 5px;
  left: -100px;
  top: 0;
  right: 0;
  bottom: 0;
  transition: absolute 2s ease;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content{
  padding-left: 10px;
}

mat-sidenav {
  width: 16%;
  position: fixed;
  margin: 10px 10px 5px 5px !important;
  border-radius: 25px;
  transition: width 0.5s ease;
}

mat-nav-list img {
  padding: 10px 0 0 90px;
  display: flex;
}

mat-nav-list p {
  font-weight: bold !important;
  color: black;
  font-size: 11px;
  text-align: center;
  padding: 5px;
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

mat-sidenav mat-icon {
  font-size: 16px;
  margin: 0 0 -10px 0;
}

mat-nav-list > mat-list-item {
  height: 50px;
  font-size: 14px;
  padding: 0 5px 0 15px;
}


mat-nav-list>mat-list-item:hover {
  background: rgba(254, 201, 70, 0.8);
  border-radius: 20px;
  padding: 30px;
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
  border-radius: unset;
}

mat-nav-list mat-expansion-panel-header {
  height: 50px;
  padding: 0 20px 0 0;
}

mat-nav-list mat-expansion-panel-header:hover {
  background: rgba(254, 201, 70, 0.8)!important;
  border-radius: 20px;
  padding: 5px;
}

mat-list-item:hover {
  background: rgba(254, 201, 70, 0.8)!important;
  border-radius: 20px;
  padding: 5px;
}

.custom-list-item {
  opacity: 1;
  color: rgb(254, 201, 70);
  align-items: center;
  background: rgba(254, 201, 70, 0.4)!important;
  padding:5px 0 5px 0;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
}

.active-panel {
  background: rgba(254, 201, 70, 0.2)!important;
  border-radius: 20px;
  padding: 5px;
}

mat-nav-list mat-expansion-panel mat-list-item {
  height: 28px;
}

h2 mat-icon{
  margin: 10px;
}

